.cm-header {
  background: $primary-color;
  text-align: center;
  color: $text-color;
  @include rhythm(0,5,3,0);
  .header_container {
    margin: auto;
  }
  .header_container {
    @include container();
  }
  h1 {
    padding: 0;
    margin: 0;
    font-size: $font-size-x-large;
  }
  p {
  }
}
