$susy: (
  columns: 12,  // The number of columns in your grid
  debug: (
    image: show,
    output: overlay
    )
);
// Apply a natural box layout model to all elements.
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: $alt-font-family;
  font-weight: 400;
  color: $primary-text-color;
  text-rendering: optimizeLegibility;
  word-wrap: break;
  @include container();
}
