@import "modular-scale";
@import "functions";
@import "breakpoint";

$base-font-size: 20px;
$base-line-height: 20px;
$rhythm-unit: "rem";

// Setup vertical rhythm
@include establish-baseline;

// Font families
$base-font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-family: "Droid serif", serif;

h1, h2 {
  font-family: $base-font-family;
}

h3 {
  font-family: $alt-font-family;
  font-weight: normal;
}
