$grid-container: rhythm(22);
$primary-color: #3F51B5;
$light-primary-color: #C5CAE9;
$text-color: #FFF;
$accent-color: #03A9F4;
$primary-text-color: #333;
$secondary-color: #727272;
$divider-color: #B6B6B6;
$default-spacing: 0.5em;

$font-size-x-large: 3em;
$font-size-large: 1.2em;
$font-size-medium: 1em;
