$grid-container: rhythm(22);
$primary-color: #3F51B5;
$light-primary-color: #C5CAE9;
$text-color: #FFF;
$accent-color: #03A9F4;
$primary-text-color: #333;
$secondary-color: #727272;
$divider-color: #B6B6B6;
$default-spacing: 0.5em;

$font-size-x-large: ($base-font-size * 2.7);
$font-size-large: ($base-font-size * 2);
$font-size-medium: ($base-font-size * 1.1);

$orange: #fC582F;
$green: #8CC252;
$lgreen: #CDDA48;
$blue: #1DAAF1;
$yellow: #FEC02E;
